FishConsole/Connected Services/ServiceReference1/FishService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61676/FishService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JokeWebService.Model" />
  <xs:element name="GetFishes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFishesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JokeWebService.Model" minOccurs="0" name="GetFishesResult" nillable="true" type="q1:ArrayOfFish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JokeWebService.Model" minOccurs="0" name="fish" nillable="true" type="q2:Fish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>